body{
    margin: 0;
    padding: 0;
    background: #d8e2dc
}

#container{
    width: 1000px;
	height: 550px;
	margin: 20px auto;	
    background-color: #d8e2dc;
}

#calculator{
	width: 320px;
	height: 520px;
	background-color: #f0efeb;
	margin: 0 auto;
	top: 20px;
	position: relative;
	border-radius: 5px;
    box-shadow: 2px 2px 4px #888888;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 10px;
    color: darkgray;
}

#result{
    text-align: right;
    height: 40px;
    margin: 10px 20px;
    font-size: 30px;
}

button{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    font-size: 15px;
    cursor: pointer;
}

#empty{
    background-color: #eaedef;
    border-width: 0;
    height: 10px;
}

.operator{
    background-color: rgb(212, 210, 209);
}
